*{
  margin:0;
  padding:0;
}

body{
    height: 100%;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    /*background: linear-gradient(45deg, #b5dcfa, #57bbfd, #3baafe, #07a5e9);*/
  }

  html{
    scroll-behavior: smooth;
  }
 p{
  color: rgb(85,85,85);
 }