body{
    font-family: 'Raleway', sans-serif;
    
}
#back{
    height: 45px;
    position: absolute;
    top: 0;
    left: 0;
}
#card{
    display: block;
    justify-content: center;
    text-align: center;
    background-color: #999;
    box-shadow: 0 4px  8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 100px 400px 20px;
    border-radius: 8px;
    
}
#card h2{
    color: #333;
}
#card p{
    margin: 10 px;
    color: #666;
}
a{
    color: #666;
    text-decoration: none;

}
a:hover{
    text-decoration:underline;
}
.icongroup{
    display: flex;
    justify-content: center;
    
    margin-top: 20px;
}
#LinkedIn{
    width: 35px;
    height: 35px;
    
}
#Git{
    width: 35px;
    height: 35px;
    
}



